<div class="wrapper b-b header" *ngIf="_config.showhead">
  {{ _config.title }}
  <a *ngIf="_config.rootCreate" class="btn btn-sm btn-default" (click)="addClick(null)">
    <i class="fa fa-plus"></i> {{ toolGpb.geti18n('new_construction','新建') }}</a>
</div>

<section class="scrollable tree-content" [style.margin-top]="style_top" style="overflow-y: auto;" >
  <ul id="treeDemo" class="ztree"></ul>
</section>

<div class="modal fade" id="tree_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <df-form *ngIf="_config.useform" #form [formData]="_treeFormData" (formSubmit)="formSubmit($event)"></df-form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


