<p>演示Core组件使用方式</p>

<p>登陆演示</p>
<form action="#" #f="ngForm">
    <section>
        <div class="container" *ngIf="sysUser">
            <div class="form-horizontal">
                <h3>用户登录</h3>
                <div class="form-group text">
                    <label for="pt_account"></label>
                    <input type="text" placeholder="请输入账号" [(ngModel)]="sysUser.token.ext.pt_account" required name="pt_account" /><i class="icon-user"></i>
                </div>
                <div class="form-group password">
                    <label for="pt_pwd"></label>
                    <input type="password" placeholder="请输入密码" [(ngModel)]="sysUser.token.ext.pt_pwd" required name="pt_pwd" /><i class="icon-lock"></i>
                </div>
                <div class="form-group">
                    <label for="pt_i_code"></label>
                    <input type="text" placeholder="请输入验证码" [(ngModel)]="sysUser.token.ext.pt_i_code" name="pt_i_code" class="yzm-form" required />
                    <a href="/qzlogin#" class="yzm">
                        <img src="{{captcha}}" name="captcha" (click)="refreshCaptcha()">
                    </a>
                </div>
                <div class="form-group">
                    <input type="button" class="btn-login" value="登 录" (click)="login()">
                </div>
                <div class="form-group">
                    <p><i class="icon-minus-sign" *ngIf="errorMessage"></i> {{ errorMessage }}</p>
                </div>
            </div>
        </div>
    </section>
</form>