<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
  <a [routerLink]="['/video']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">VIDEO</a>
  <a [routerLink]="['/highcharts']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HIGHCHARTS</a>
  <a [routerLink]="['/mqtt']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">MQTT</a>
  <a [routerLink]="['/coredemo']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">CORE_DEMO</a>
</nav>
