@charset "UTF-8";
* {
    box-sizing: border-box;
    word-break: break-all;
    -webkit-overflow-scrolling: touch;
}

body {
    // @include container-default(1650px);//web
    // @include container-abs(425px); //phone
    @include container-abs(auto);
    min-width: 1200px;
    font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;
    background-color: $color-bg;
    overflow: auto;
}

a {
    text-decoration: none !important;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none !important;
    }
}

// .container {
//     position: relative;
//     margin-left: auto;
//     margin-right: auto;
//     width: 1200px;
// }
// @include min-screen(576px) {
//   .container {
//     width: 540px;
//     max-width: 100%;
//   }
// }
// @include min-screen(768px) {
//   .container {
//     width: 720px;
//     max-width: 100%;
//   }
// }
// @include min-screen(992px) {
//   .container {
//     width: 960px;
//     max-width: 100%;
//   }
// }
// @include min-screen(1200px) {
//   .container {
//     width: 1140px;
//     max-width: 100%;
//   }
// }