<div *ngIf="pro_city_county&&item" class="form-group">
  <label class="col-sm-2 control-label">{{ item.label }}：</label>
  <div *ngIf="pro_list&&pro_list[0]" class="col-sm-3">
    <select id="pro_id" class="form-control" value="{{ selected_record&&selected_record.pro.id||pro_list[0]&&pro_list[0].id }}"
            (change)="provinceChange($event)" [disabled]="item.disabled">
      <option *ngFor="let pro of pro_list" value="{{ pro.id }}">{{ pro.name }}</option>
    </select>
  </div>
  <div *ngIf="city_list&&city_list[0]" class="col-sm-3" >
    <select id="city_id" class="form-control" value="{{ selected_record&&selected_record.city.id||city_list[0]&&city_list[0].id }}"
            (change)="cityChange($event)" [disabled]="item.disabled">
      <option *ngFor="let city of city_list" value="{{ city.id }}">{{ city.name }}</option>
    </select>
  </div>
  <div *ngIf="county_list&&county_list[0]" class="col-sm-3" >
    <select id="county_id" class="form-control"
            value="{{ selected_record&&selected_record.county.id||county_list[0]&&county_list[0].id }}"
            [disabled]="item.disabled">
      <option *ngFor="let county of county_list" value="{{ county.id }}">{{ county.name }}</option>
    </select>
  </div>
</div>
