


<!--列表查询表单-->
<div [formGroup]="form" *ngIf="f_type===1">
  <div [ngSwitch]="item.fi_type">
    <!--功能按钮-->
    <div *ngSwitchCase="8" class="col-sm-1 m-b-xs">
      <a  class="btn btn-default btn-sm btn-primary btn-block" [routerLink]="item.router_link">
        <i class="fa fa-plus"></i>{{ item.label }}
      </a>
    </div>
    <!--输入框-->
    <div  *ngSwitchCase="1" class="col-sm-2 m-b-xs"  >
      <input type="text" class="input-sm form-control" [step]="'0.01'"
             [formControlName]="item.key" [id]="item.key" [type]="item.type ||'text'" [value]="item.d_value||''"
             [attr.placeholder]="item.label">
    </div>
    <!--下拉框-->
    <div *ngSwitchCase="2"  class="m-b-xs" [ngClass]="item.class_name || 'col-sm-2'">
      <select [id]="item.key" class="input-sm form-control inline"
              [formControlName]="item.key"
              [(ngModel)]="item.select_id.l_id">
        <option *ngFor="let opt of item.opt_list" [value]="opt.key.l_id">{{ opt.value.open_id }}</option>
      </select>
    </div>

    <!--多选按钮-->
    <!--<div *ngSwitchCase="4" class="col-sm-4 m-b-xs">-->
      <!--<div [ngClass]="item.class_name || 'checkbox_default m-wrap span3'" *ngFor="let opt of item.opt_list;let i = index">-->
        <!--<input type="checkbox" value="{{opt.key.l_id.low}}"-->
        <!--[formControlName]="item.key+'_'+i" id="{{item.key}}_{{i}}" [(ngModel)]="opt.selected">-->
        <!--<label [attr.for]="item.key+'_'+i">{{opt.value.open_id}}</label>-->
      <!--</div>-->
    <!--</div>-->

    <div *ngSwitchCase="4" class="col-sm-10">
      <div class="row">
        <div class="col-sm-6">
          <!-- radio -->
          <div class="radio" *ngFor="let opt of item.opt_list ; let i = index">
            <label class="radio-custom">
              <input type="checkbox" value="{{ opt.key.l_id.low }}"
                     [formControlName]="item.key+'_'+i" id="{{ item.key }}_{{ i }}" [(ngModel)]="opt.selected">
              <i class="fa fa-circle-o" [attr.for]="item.key+'_'+i">{{ opt.value.open_id }}</i>
            </label>
          </div>

        </div>
      </div>
    </div>

    <!--省市区-->
    <sd-procitycounty #procitycounty *ngSwitchCase="15" [item]="item" >

    </sd-procitycounty>

    <!--时间控件-->
    <div  *ngSwitchCase="13" class="col-sm-2 m-b-xs" >
      <input  *ngIf="item" type="text" class="form-control form_datetime"
              [placeholder]="item.label"
              [formControlName]="item.key" [id]="item.key"  [(ngModel)]="date_str" >
    </div>

    <!--查询按钮-->
    <div  *ngSwitchCase="6" class="col-sm-1" style="text-align:right;">
      <button class="btn btn-sm btn-default btn-block" type="submit" [disabled]="!form.valid">{{ item.label }}</button>
    </div>

    <!--其他按钮-->
    <div  *ngSwitchCase="9" class="col-sm-1" style="text-align:right;width: auto;">
      <a class="btn btn-sm btn-default btn-block" (click)="btnclick()" >{{ item.label }}</a>
    </div>

  </div>
</div>


<!--数据更新添加表单-->
<div [formGroup]="form" *ngIf="f_type===2&&item.fi_type!=6&&item.fi_type!=7&&!item.is_hidden"  [id]="item.key+'_div'" >
  <div [ngSwitch]="item.fi_type">
    <!--输入框-->
    <div class="form-group" *ngSwitchCase="1" >
      <label class="col-sm-2 control-label" for="">{{ item.label }}<font *ngIf="item.is_require" color="red">*</font>：</label>
      <div class="col-sm-6">
               <input  class="form-control"
       [step]="'0.01'"
       [formControlName]="item.key" [id]="item.key" [type]="item.type||'text'" [value]="item.d_value||''">
      </div>
      <label *ngIf="item.desc" class="col-sm-2 control-label" style="color: red;text-align: left;">({{ item.desc }})</label>
    </div>

    <!--输入框 整数类型-->
    <div class="form-group" *ngSwitchCase="21" >
      <label class="col-sm-2 control-label" for="">{{ item.label }}<font *ngIf="item.is_require" color="red">*</font>：</label>
      <div class="col-sm-6">
        <input  class="form-control"
                [formControlName]="item.key" [id]="item.key" [type]="item.type||'text'" [value]="item.d_value||''">
      </div>
      <label *ngIf="item.desc" class="col-sm-2 control-label" style="color: red;text-align: left;">({{ item.desc }})</label>
    </div>

    <!--输入框(带动态数据的)-->
    <div class="form-group" *ngSwitchCase="19" >
      <label class="col-sm-2 control-label" for="">{{ item.label }}<font *ngIf="item.is_require" color="red">*</font>：</label>
      <label class="col-sm-1 control-label">{{ item.before_label }}</label>
      <div class="col-sm-3">
        <input  class="form-control"
                [step]="'1'"
                [formControlName]="item.key" [id]="item.key" [type]="item.type||'text'" [value]="item.d_value||''">
      </div>
      <label *ngIf="item.desc" class="col-sm-2 control-label" style="color: red;text-align: left;">({{ item.desc }})</label>
    </div>

    <!--item右侧按钮功能-->
    <div class="form-group" *ngSwitchCase="20" >
      <label class="col-sm-2 control-label" for="">{{ item.label }}<font *ngIf="item.is_require" color="red">*</font>：</label>
      <div class="col-sm-4">
        <input  class="form-control"
                [step]="'0.01'"
                [formControlName]="item.key" [id]="item.key" [type]="item.type||'text'" [value]="item.d_value||''">
      </div>
      <div class="col-sm-2">
        <a  class="btn btn-default btn-primary btn-block"
            (click)="btnclick()"
            >{{ item.btn_txt }}</a>
      </div>
    </div>

    <!--下拉框-->
    <div  class="form-group" *ngSwitchCase="2" >
      <label class="col-sm-2 control-label">{{ item.label }}<font *ngIf="item.is_require" color="red">*</font>：</label>
      <div class="col-sm-4">
        <select [id]="item.key" class="form-control"
                [formControlName]="item.key"
                (change)="selectchange()"
                [(ngModel)]="item.select_id&&item.select_id.l_id">
          <option *ngFor="let opt of item.opt_list" [value]="opt.key.l_id">{{ opt.value.open_id }}</option>
        </select>
      </div>
      <label *ngIf="item.desc" class="col-sm-2 control-label" style="color: red;text-align: left;">({{ item.desc }})</label>
    </div>

    <!--多选按钮 1行-->
    <div *ngSwitchCase="4" class="form-group">
      <label class="col-sm-2 control-label">{{ item.label }}<font *ngIf="item.is_require" color="red">*</font>：</label>
      <div class="col-sm-10">
        <div class="row">

          <div class="col-sm-10">
            <label class="checkbox-inline"  *ngFor="let opt of item.opt_list; let i = index">
              <input type="checkbox" value="{{opt.key.l_id.low}}"
                     [disabled]="item.disabled"
                     [formControlName]="item.key+'_'+opt.key.l_id" id="{{item.key}}_{{opt.key.l_id}}" [(ngModel)]="opt.selected">
              {{ opt.value.open_id }}
            </label>
          </div>

        </div>
      </div>
    </div>

    <!--多选按钮 多行-->
    <div *ngSwitchCase="14" class="form-group">
      <label class="col-sm-2 control-label">{{ item.label }}<font *ngIf="item.is_require" color="red">*</font>：</label>
      <div class="col-sm-10">
        <div class="checkbox" *ngFor="let opt of item.opt_list ; let i = index">
          <label>
            <input type="checkbox" value="{{ opt.key.l_id }}"
                   [disabled]="item.disabled"
                   [formControlName]="item.key+'_'+opt.key.l_id" id="{{item.key}}_{{opt.key.l_id}}" [(ngModel)]="opt.selected">
            {{ opt.value.open_id }}
          </label>
        </div>

      </div>
    </div>


    <!--&lt;!&ndash;级联下拉&ndash;&gt;-->
    <sd-cascading #cascading *ngSwitchCase="11" [item]="item" [data]="item.data" >
    </sd-cascading>

    <!--图片上传-->
    <div  class="form-group" *ngSwitchCase="12" >
      <label class="col-sm-2 control-label">{{ item.label }}<font *ngIf="item.is_require" color="red">*</font>：</label>
      <div class="col-sm-6">
        <upload-app   (getId)="setIConImg($event)"
                       [namekey]="'upload_iconId'" [img_id]="img_id" [item]="item"  ></upload-app>
      </div>
      <input  type="text" class="form-control" style="display: none;"
             [formControlName]="item.key" [id]="item.key"  [(ngModel)]="img_id">
    </div>

    <!--视频上传-->
    <div  class="form-group" *ngSwitchCase="17" >
      <label class="col-sm-2 control-label">{{ item.label }}<font *ngIf="item.is_require" color="red">*</font>：</label>
      <div class="col-sm-6">
        <uploadvideo-app   (getId)="setIConImg($event)"
                      [namekey]="'upload_iconId'" [img_id]="img_id" [item]="item"  ></uploadvideo-app>
      </div>
      <input  type="text" class="form-control" style="display: none;"
              [formControlName]="item.key" [id]="item.key"  [(ngModel)]="img_id">
    </div>

    <!--时间控件-->
    <div class="form-group" *ngSwitchCase="13" >
      <label class="col-sm-2 control-label" >{{ item.label }}<font *ngIf="item.is_require" color="red">*</font>：</label>
      <div class="col-sm-6">
        <input  *ngIf="item" type="text" class="form-control form_datetime"
                [formControlName]="item.key" [id]="item.key"  [(ngModel)]="date_str" >
      </div>
    </div>

    <!--省市区-->
    <sd-procitycounty #procitycounty *ngSwitchCase="15" [item]="item" >

    </sd-procitycounty>

    <!--多行文本-->
    <div class="form-group" *ngSwitchCase="16" >
      <label class="col-sm-2 control-label" for="">{{ item.label }}<font *ngIf="item.is_require" color="red">*</font>：</label>
      <div class="col-sm-6">
        <textarea  class="form-control"
                   style="width: 608px;height: 150px;resize: none;"
               [formControlName]="item.key" [id]="item.key" [value]="item.d_value||''" >
        </textarea>
      </div>
    </div>

    <!--时分秒选择控件-->
    <div class="form-group" *ngSwitchCase="18" >
      <label class="col-sm-2 control-label" >{{ item.label }}<font *ngIf="item.is_require" color="red">*</font>：</label>
      <div class="col-sm-6">
        <!--<input  *ngIf="item" type="time" class="form-control form_datetime"-->
                <!--[formControlName]="item.key" [id]="item.key" [value]="item.d_value||''" >-->
        <input *ngIf="item" type="text" class="combodate form-control hour_min_sec"
               [attr.formControlName]="item.key" [id]="item.key"
               [attr.data-format]="'HH:mm'" [attr.data-template]="'HH : mm'"
                [value]="item.d_value||''">
      </div>
    </div>

    <!--标签-->
    <!--<div class="form-group" *ngSwitchCase="18" >-->
      <!--<label class="col-sm-2 control-label" for="">{{item.label}}：</label>-->
      <!--<div class="col-sm-6">-->
        <!--<input type="hidden" class="select2-tags-df" style="width:100%"-->
               <!--[formControlName]="item.key" [id]="item.key" [type]="item.type" [value]="item.d_value||''">-->
      <!--</div>-->
    <!--</div>-->

  </div>
</div>
<!--提交按钮-->
<button *ngIf="item.fi_type===6 && f_type===2" type="submit" class="btn btn-default" [disabled]="!form.valid">{{ item.label }}</button>

<!--取消按钮-->
<button *ngIf="item.fi_type===7 && f_type===2&&item.router_link" type="button" [routerLink]="item.router_link" class="btn btn-primary" >{{ item.label }}</button>
