<form *ngIf="formData && formData.f_type===1&&CHECK_FITYPE" (ngSubmit)="onSubmit()" [formGroup]="form" >
  <div >
    <div *ngFor="let row of formData.row_list" class="row text-sm wrapper">
      <df-item *ngFor="let item of row.item_list" [item]="item" [form]="form"
               (btnclickout)="btnclick($event)"></df-item>
    </div>
  </div>
</form>

<div class="panel-body" *ngIf="formData && formData.f_type===2&& CHECK_FITYPE">
  <form  class="form-horizontal" (ngSubmit)="onSubmit()" [formGroup]="form"  (keydown)="keyDownOut($event)">
    <div *ngFor="let row of formData.row_list ; let i = index" >
      <!--控制表单底下的button-->
      <div *ngIf="i===formData.row_list.length-1" >
        <div class="form-group ">
          <div class="col-sm-10 col-sm-offset-2">
            <df-item *ngFor="let item of row.item_list" [item]="item" [form]="form" [f_type]="formData.f_type"
                     (selectchangeout)="selectchange($event)" (customerSubmitOut)="customerSubmit($event)"
            ></df-item>
          </div>
        </div>
      </div>
      <div *ngIf="i<formData.row_list.length-1">
        <df-item *ngFor="let item of row.item_list" [item]="item" [form]="form" [f_type]="formData.f_type" 
                 (selectchangeout)="selectchange($event)"
                 (btnclickout)="btnclick($event)"
        ></df-item>
      </div>
    </div>
  </form>
</div>