<div class="modal fade" id="tokenInvaildDiv">
    <div class="modal-dialog" style="width: 450px;">
        <div class="modal-content" >
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">登陆信息失效,请重新登陆!</h3>
                        <p>{{ errorMessage }}</p>
                        <form role="form">
                            <div class="form-group">
                                <label>用户名</label>
                                <input type="text" class="form-control" placeholder="请输入用户名"  value="{{ account }}" readonly>
                            </div>
                            <div class="form-group">
                                <label>密码</label>
                                <input type="password" class="form-control" placeholder="请输入密码"  name="pwd" [(ngModel)]="pwd" >
                            </div>
                            <div class="checkbox m-t-lg">
                                <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" (click)="login()"><strong>登陆</strong></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>