<section class="scrollable padder content-right">

  <ul  *ngIf="breadcrumb"  class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li *ngFor="let nav of formData.nav_list" [class.active]="nav.is_last" >
      <a *ngIf="nav.router_link"  [routerLink]="nav.router_link"><i class="fa fa-home"></i>{{ nav.label }}</a>
      <a *ngIf="nav.is_last" >{{ nav.label }}</a>
    </li>
  </ul>

  <section class="panel panel-default">
    <header *ngIf="formData.nav_list && formData.nav_list.length>0" class="panel-heading">
      {{ formData.nav_list[formData.nav_list.length-1].label }}
      <!--<a href="#" class="btn btn-default btn-xs btn-danger right">新增</a>-->
    </header>
    <df-form [formData]="formData"
             (formSubmit)="formSubmit($event)"
             (btnclickout)="btnclick($event)"
    ></df-form>
    <div class="table-responsive">
      <ng-table [pager]="formData.pager"  (tableChanged)="loadData($event)"  (allCheckedV)="getAllCheckedV($event)"
                [opt_config]="opt_config"
                (update)="update($event)"
                (del)="del($event)"
                (enable)="enable($event)"
                (stop)="stop($event)"
                (view)="view($event)"
                (unbind)="unbind($event)"
                (bind)="bind($event)"
                (plan)="plan($event)"
                [cmpSelect]="cmpSelect"></ng-table>
    </div>
  </section>


</section>
