@charset "UTF-8";
.text-right {
    text-align: right;
}

.app {
    >aside {
        width: 250px;
        background-color: #fefefe;
        box-shadow: 30px 30px 55px 1px rgba(233, 237, 239, 0.72);
        z-index: 1;
        .toggle {
            display: block;
            width: 24px;
            height: 24px;
            margin: 23px 21px;
            position: relative;
            span {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                width: 18px;
                height: 2px;
                background-color: #90a4ae;
                &::before {
                    content: "";
                    position: absolute;
                    top: -6px;
                    right: 0;
                    width: 12px;
                    height: 2px;
                    background-color: #90a4ae;
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 6px;
                    left: 3px;
                    width: 12px;
                    height: 2px;
                    background-color: #90a4ae;
                }
            }
        }
        .menu {
            overflow: hidden;
            ul {
                margin-top: 30px;
                background-color: #fff;
                li {
                    a {
                        display: block;
                        height: 56px;
                        color: #78909c;
                        line-height: 56px;
                        padding-left: 60px;
                        position: relative;
                        &.active {
                            color: #263238;
                            &::before {
                                content: "";
                                width: 3px;
                                height: 100%;
                                background-color: #03a9f4;
                                position: absolute;
                                top: 0;
                                left: 0;
                                box-shadow: 3px 0 24px 0 rgb(3, 169, 244);
                            }
                            span.iconfont {
                                color: #03a9f4;
                            }
                        }
                        span.iconfont {
                            position: absolute;
                            left: 30px;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    >section {
        >header {
            height: 70px;
            background-color: #fefefe;
            .flex-layout {
                height: 70px;
                >div {
                    padding: 35px;
                    span.iconfont {
                        font-size: 20px;
                        color: #778f9b;
                        &.icon-ai-arrow-down {
                            font-size: 12px;
                        }
                    }
                    .name {
                        color: #37474f;
                    }
                }
            }
        }
        >section {
            padding: 0 115px;
            .main-content {
                padding: 55px 0;
                h3 {
                    font-size: 28px;
                    color: #263238;
                }
            }
        }
    }
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {}