<div class="file-upload-box" id="file_upload_{{ namekey }}">
    <ul>
        <li *ngFor="let file of allFile; let i = index;">
            <span><a (click)="getDownUrl(file)">{{ file.name }}</a></span><a (click)="delfile(file.id)" class="times"><span class="fa fa-times"></span></a>
        </li>
    </ul>
    <div class="row" *ngIf="isUploading">
        <div class="col-xs-4">
            <div class="progress progress-sm progress-striped active">
                <div class="progress-bar progress-bar-info" data-toggle="tooltip"
                    [attr.data-original-title]="progress()"
                    [style.width]="progress()"></div>
            </div>
        </div>
    </div>
    <a class="btn btn-default" *ngIf="canUpload() && !isDisabled" [ngClass]="{'disabled': isUploading}">点击上传<input type="file" [disabled]="isUploading" (change)='uploadFile($event)'></a>
</div>
