//背景图片
%bg-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

//清除浮动
%clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
    font: 0/0 a;
  }
  &:after {
    clear: both;
  }
}

//单行省略
%text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}